/* src/components/SplashScreen.css */
.splash-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Dikeyde ortalayalım */
  align-items: center; /* Yatayda ortalayalım */
  height: 100vh; /* Tüm ekranı kaplasın */
  background-color: #1c3144;
  padding: 0 20px; /* Yandan biraz boşluk ekleyelim */
  box-sizing: border-box; /* Taşma olmasın */
}

.logo {
  width: 120px; /* Logonun genişliğini biraz küçültelim */
  height: auto;
  margin-bottom: 20px; /* Logonun altında biraz boşluk bırakalım */
}

.animation {
  width: 250px; /* Animasyon boyutunu biraz küçültelim */
  height: 250px;
  margin-bottom: 10px; /* Animasyon ve slogan arasında az boşluk bırak */
}

.slogan {
  font-size: 16px; /* Font boyutunu küçültelim */
  color: #ffffff;
  text-align: center;
  margin-top: 10px; /* Slogan ve animasyon arasındaki boşluğu azalt */
}
